:root {
  --typing-speed: 3.25s;
  --typing-delay: 0.75s;
}

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

html,
body {
  overflow: hidden;
}
.preloader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  z-index: 9999;
  background: #1794ff;
}

.my-name {
  position: relative;
  font-weight: bold;
  color: white;
}
.my-name::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1794ff;
  animation: type-writer var(--typing-speed) steps(27) var(--typing-delay)
    forwards;
}
.my-name::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 2px;
  background-color: white;
  animation: type-writer var(--typing-speed) steps(27) var(--typing-delay)
      forwards,
    blink-cursor 0.75s ease infinite;
}

@keyframes type-writer {
  to {
    left: 100%;
  }
}
@keyframes blink-cursor {
  to {
    background-color: transparent;
  }
}

@font-face {
  font-family: "MaisonMonoRegular";
  src: url(./fonts/MaisonNeueMono-Regular.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "MaisonMonoBold";
  src: url(./fonts/MaisonNeueMono-Bold.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "MaisonMonoBoldItalic";
  src: url(./fonts/MaisonNeueMono-BoldItalic.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "MaisonMonoItalic";
  src: url(./fonts/MaisonNeueMono-Italic.otf);
  font-style: normal;
  font-weight: 100;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: MaisonMonoRegular;
  font-weight: 100;
  box-sizing: border-box;
}
#container {
  background-color: #f4f6fa;
  overflow: hidden;
  position: relative;
}
.container-xxl {
  max-width: 1500px;
  margin: auto;
}
.clear {
  clear: both;
}
#head {
  background: #5436bf;
  overflow: hidden;
  min-height: 100vh;
}

#header {
  padding-left: 50px;
  overflow: hidden;
  padding-top: 13px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  background-color: #5436bf;
  z-index: 3;
}
#logo {
  float: left;
  overflow: hidden;
  width: 50px;
}
#infoPers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  float: left;
  width: 50%;
  min-height: 100vh;
  position: relative;
}
#infoPers h3 {
  color: #f7dc4f;
  font-size: 25px;
  margin: 50px;
  margin-bottom: 20px;
  width: 250px;
  padding: 5px 0px;
  padding-top: 40px;
  margin-top: 0px;
}

#nav {
  float: right;
  margin-top: 9px;
}
#nav ul {
  list-style-type: none;
  position: relative;
}
#nav ul li {
  display: inline-block;
}
#nav ul li a {
  color: #f0f0f0;
  text-decoration: none;
  padding-right: 35px;
  font-family: MaisonMonoBoldItalic;
}
#nav ul li a:hover {
  color: #ff4fa8;
}
.icon {
  display: none;
}

#infoPers #hi {
  margin-left: 50px;
  font-size: 24px;
  display: block;
  color: #ff4fa8;
  font-family: MaisonMonoBoldItalic;
}
#infoPers #ai {
  margin-top: 10px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 42px;
  font-weight: 800px;
  font-family: MaisonMonoBold;
}
#infoPers #job {
  margin-left: 0px;
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 100px;
  margin-top: 20px;
}

.contactMe {
  margin-top: 50px;
  margin-left: 50px;
}
.contactMe ul {
  list-style-type: none;
  position: relative;
}
.contactMe ul li {
  display: inline-block;
}
.contactMe ul li a {
  color: #f0f0f0;
  text-decoration: none;
  padding-right: 35px;
}
.contactMe ul li a:hover {
  color: #ff4fa8;
}

#details {
  width: 50%;
  height: 100vh;
  float: left;
  background: url("../images/welcome-illustrationMe1.svg") no-repeat;
  background-size: 50%;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: fixed;
}
#transparenceDiv {
  padding-top: 203px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 679px;
}
#descr {
  margin-bottom: 200px;
  margin-left: 200px;
  width: 60%;
}

.alignText {
  color: #ffffff;
  padding-top: 50px;
}
#aboutme {
  overflow: hidden;

  margin: auto;
  width: 90%;
}
.aboutMecontainer {
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: -6px 14px 20px 1px rgb(178, 189, 255, 20%);
  margin: 50px;
}
.myImage {
  width: 50%;
  float: left;
  background: url("../images/profilePicture.jpg") no-repeat;
  background-size: cover;
  height: 535px;
}
.title {
  margin-top: 200px;
  margin-bottom: 50px;
  color: #6066d5;
  text-align: center;
  font-weight: 700px;
  font-size: 50px;
  font-family: "MaisonMonoBold";
}
#aboutme p {
  text-align: left;
  font-size: 24px;
  line-height: 54px;
}
.intro {
  padding: 50px;
  width: 50%;
  float: right;
  height: 435px;
}

#aboutme h3 {
  width: 150px;
  margin: 50px auto;
}
#aboutme h3 a {
  text-decoration: none;
  color: #015761;
  background-color: #f7dc4f;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
#aboutme h3 a:hover {
  color: #f7dc4f;
  background-color: #015761;
}

.school,
.annee {
  border: 0px;
  margin: 2px auto;
  padding: 0px;
  width: 100%;
}

.cercle {
  display: none;
}

.annee {
  float: left;
  font-weight: 700;
  margin-top: 40px;
  color: #3f006f;
  text-align: left;
}
.school {
  float: left;

  padding-right: 0px;
  /* border-left: 2px solid black; */
  position: relative;
  font-family: avenir;
  font-weight: 700;
  width: 50%;
}
.school h4 {
  color: #fff;
  font-weight: 700;
  font-family: "MaisonMonoBoldItalic";
  margin-bottom: 6px;
}
.school h5 {
  color: #cfe3ff;
}
.cercle {
  width: 10px;
  height: 10px;
  border: 1px solid #015761;
  border-radius: 100%;
  position: absolute;
  top: 31px;
  left: -6px;
  background-color: #ffffff;
}
.education-container {
  margin: 50px auto;
  overflow: hidden;
  background: linear-gradient(60deg, #1794ff, #2196f3, #0daeeb);
  overflow: hidden;
  border-radius: 15px;
  margin: 50px;
  position: relative;
}
.relative-hat {
  position: relative;
}
.hat {
  position: absolute;
  left: 4px;
  top: -37px;
  z-index: 1;
}
/* .educationIllustration{
	width: 50%;
	float: right;
	background: url('../images/education-illustration.svg') no-repeat;
	background-size: cover;
	height: 581px;
	position: absolute;
	right: 0;
} */
.educationInfo {
  padding: 50px;
  width: 100%;
  float: left;
  height: 581px;
  background: url("../images/education-illustration.svg") no-repeat;
  background-position: right;
}

.hide-extra-line {
  width: 5px;
  height: 31px;
  background-color: #1b95fb;

  position: absolute;
  top: 0;
  left: -4px;
  z-index: auto;
}
#social-media {
  position: fixed;
  right: 0px;
  top: 25%;
  z-index: 3;
}
#social-media ul {
  list-style-type: none;
  background-color: #f7dc4f;
  border-radius: 5px 0px 0px 5px;
}
#social-media ul li {
  padding: 5px 0px;
}
#social-media ul li a {
  text-decoration: none;
  color: #015761;
  padding: 5px;
}
#social-media li a:hover {
  color: #ff4fa8;
}

#social-media ul li:hover {
  background-color: #015761;
  border-radius: 5px 0px 0px 5px;
}
#more-container {
  color: #ffffff;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 120px;
  background: url(../images/moreback.svg) no-repeat right #5537c0;
}
#more-container h1 {
  text-align: center;
  padding: 50px;
  color: #00bcd4;
}
#more-container-container p,
.more-icons li {
  display: inline-block;
}
.more-icons {
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
  row-gap: 50px;
  width: 90%;
}
.more-icons h4 {
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.more-icons ul li {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.fas {
  margin-top: 50px;
}
.more-fa {
  margin-top: 25px;
}
#education1,
#education2,
#education3 {
  overflow: hidden;
}
#m1,
#m2,
#m3,
#m4 {
  display: inline-block;
  /* width: 24%; */
  text-align: center;
}

.skills-div {
  overflow: hidden;
  padding-bottom: 50px;
}
.skills-container {
  width: 90%;
  margin: 15px auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 30px;
}
.skills-elts {
  float: left;
  width: 100%;
}
.skills-elts h2 {
  color: #26324e;
  margin: 50px 0px;
}

.progress-title {
  font-size: 17px;
  font-weight: 400;
  color: #5436bf;
  margin: 20px 0px;
}
.progress {
  height: 3px;
  background: #9396cc;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}
.progress .progress-bar {
  box-shadow: none;
  position: relative;
}
.progress .progress-bar:after {
  content: "";
  width: 1px;
  height: 1px;
  border: 1px solid #4f79d6;
  position: absolute;
  top: -5px;
  right: 4px;
  transform: rotate(45deg);
}
.progress.coleur .progress-bar:after {
  background-color: #4f79d6;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}

#experience-container {
  width: 95%;
  margin: 0px auto;
  overflow: hidden;
  padding: 80px 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 50px;
}

.exp {
  float: left;
  border-radius: 10px;
  text-align: center;
  border-collapse: collapse;

  transition: all 0.9s ease-in-out;
}
.exp :hover {
  transform: scale(1.05);
}
.exp img {
  /* width: 300px;
    height: 210px; */
  margin: 0px auto;
}
.exp h4 {
  color: #0e6186;
  text-align: left;
  padding-left: 28px;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 28px;
  pointer-events: none;
}

.exp h3 {
  color: #03a9f4;
  padding: 25px 28px;
  padding-top: 25px;
  text-align: left;
  font-size: 16px;
  padding-bottom: 6px;
  pointer-events: none;
}

.exp a {
  text-decoration: none;
}
.img-border {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: inline-block;
}


#project11 {
  background: url("../images/coup-graphic-playstore.png") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
}


#project10 {
  background: url("../images/sketchit-Gplay-presentation.jpg") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
}

#project9 {
  background: url("../images/noyPOM.png") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}

#project8 {
  background: url("../images/vshop.png") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}

#project1 {
  background: url("../images/msg.PNG") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}
#project2 {
  background: url("../images/webst.jpg") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}
#project3 {
  background: url("../images/cublor.PNG") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}
#project4 {
  background: url("../images/recipes.PNG") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}
#project5 {
  background: url("../images/luigi.jpg") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}
#project6 {
  background: url("../images/blender.png") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}
#project7 {
  background: url("../images/chatapp.png") no-repeat;
  background-size: 100%;
  height: 195px;
  border-radius: 15px;
  pointer-events: none;
}
#footer p {
  text-align: center;
  padding: 20px;
  color: #ff4fa8;
  background-color: #5436bf;
  font-family: MaisonMonoBoldItalic;
}

#switch-dark-theme {
  width: 2rem;
  height: 2rem;
  position: fixed;
  bottom: 17px;
  right: 7px;
  background-color: #5436bf;
  border-radius: 100px;
  box-shadow: 0px 3px 20px 0px #6897ff;
}

/*background animation*/
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*media*/

@media (max-width: 1180px) {
  #infoPers #ai {
    font-size: 50px;
  }

  #infoPers #job {
    margin-left: 60px;
  }

  .education-container {
    width: 90%;
  }
}

/* dark theme */
#head.dark {
  background-color: #18191a;
}
#header.dark {
  background-color: #18191a;
}
#container.dark {
  background-color: #18191a;
}
#more-container.dark {
  background-color: #18191a;
}
#footer p.dark {
  background-color: #18191a;
}
.aboutMecontainer.dark {
  background-color: #252525;
  color: #d8d8d8;
  box-shadow: none;
}
.img-border.dark {
  background-color: #252525;
}
.skills-elts h2.dark {
  color: #bdbdbd;
}
.progress-title {
  color: #41abff;
}
#switch-dark-theme.dark {
  background-color: #464646;
  box-shadow: none;
}
.exp h4.dark {
  color: #c1c1c1;
}

@media (min-width: 1540px) {
  #experience-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 1138px) {
  #experience-container {
    grid-template-columns: auto auto;
  }
}

.hide {
  background-color: #015761;
  display: none;
  cursor: pointer;
}
.switch-fa {
  position: relative;
  top: 9px;
  right: -8px;
  margin-top: 0px;
}

/*media (phone)*/

@media (max-width: 768px) {
  #infoPers {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  #infoPers #ai {
    padding-bottom: 50px;
    font-size: 30px;
  }
  #details {
    width: 100%;
  }
  #infoPers h3 {
    margin: 0px auto;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 50px;
  }

  #header {
    padding-left: 20px;
  }

  #nav ul li a {
    display: none;
  }

  #ul-container.responsive .icon {
    position: absolute;
    right: 20px;
    top: 22px;
  }
  #ul-container.responsive ul li {
    width: 100%;
  }
  #ul-container.responsive ul li a {
    float: none;
    display: block;
    text-align: left;
    padding-bottom: 20px;
  }
  .ul-container {
    position: relative;
  }
  #nav ul {
    position: absolute;
    top: 107px;
    left: 20px;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 20px;
    top: 22px;
  }
  .icon :hover {
    color: #ff4fa8;
  }
  .icon i {
    margin: 0px;
    padding: 0px;
  }
  #nav {
    margin: 0px;
  }

  .contactMe {
    margin: 0px;
  }
  .contactMe ul {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
  }

  .contactMe ul li a {
    padding-right: 15px;
  }
  .contactMe ul li:last-child a {
    padding-right: 0px;
  }

  #infoPers #ai,
  #infoPers #hi,
  #infoPers #job {
    text-align: center;
    margin: 10px auto;
  }
  #infoPers #ai {
    width: 80%;
    font-size: 2.125rem;
  }
  #infoPers #job {
    width: 80%;
  }
  #infoPers #hi {
    margin: 40px auto;
    margin-top: 200px;
  }
  /*hide social media for now*/
  #social-media {
    display: none;
  }

  .aboutMecontainer {
    box-shadow: 0px 10px 20px 1px rgb(178, 189, 255, 20%);
  }
  .myImage {
    width: 100%;
    float: none;
  }
  .intro {
    width: 100%;
  }

  #aboutme h3 {
    width: 80%;
    padding: 0;

    text-align: center;
  }
  #descr {
    margin: 30px auto;
  }

  #details {
    background: url("../images/welcome-illustrationMe1.svg") no-repeat;
  }
  .education-container {
    width: 80%;
  }
  .school,
  .annee {
    border: 0px;
    margin: 5px auto;
    padding: 0px;
    width: 100%;
  }
  .annee {
    margin-top: 40px;
    color: #000000;
    text-align: left;
  }
  .cercle {
    display: none;
  }

  .skills-elts {
    float: none;
    margin: 0 auto;
    padding: 0;
  }
  #experience-container {
    grid-template-columns: auto;
  }
  .exp {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }

  .more-icons h4 {
    width: 80%;
    margin: 0 auto;
  }

  [class^="fa-"],
  [class*=" fa-"] {
    display: inline-block;
    width: 100%;
  }
  .switch-fa {
    margin: 0px;
  }

  .more-icons ul li {
    display: inline;
    text-align: center;
  }

  .more-icons,
  .skills-container {
    grid-template-columns: auto;
  }
  #m1,
  #m2,
  #m3,
  #m4 {
    display: block;
    margin: 0px auto;
    width: 100%;
  }

  #details {
    background-position: bottom;
    background-attachment: fixed;
  }

  .aboutMecontainer {
    margin: 0px;
    margin-bottom: 25px;
  }
  .intro {
    padding: 30px;
  }
  .intro p {
    font-size: 12px;
  }

  #more-container {
    background-image: url("../images/morebackr.svg");
    background-position-y: top;
    background-position-x: right;
    background-size: 100%;
  }
  .more-fa {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 70px;
  }
}
@media (max-width: 1112px) {
  .educationInfo {
    height: 486px;
    padding-top: 25px;
  }
}
@media (max-width: 968px) {
  .educationInfo {
    padding-top: 0px;
    height: 451px;
  }
}
@media (max-width: 854px) {
  .educationInfo {
    height: 375px;
  }
  .annee {
    font-size: 12px;
    margin-top: 35px;
  }
  .school h4 {
    font-size: 14px;
    margin-bottom: 1px;
  }
}

@media (max-width: 768px) {
  .educationInfo {
    height: 861px;
    background-position: bottom;
    padding-top: 50px;
  }
  .annee {
    margin-top: 40px;
    font-size: 14px;
  }

  .school h4 {
    font-size: 16px;
  }
}

@media (max-width: 1238px) {
  #aboutme p {
    line-height: 48px;
  }
}

@media (max-width: 1146px) {
  .myImage {
    height: 598px;
  }
}

@media (max-width: 1082px) {
  .myImage {
    height: 613px;
  }
}

@media (max-width: 1058px) {
  .intro {
    width: 100%;
  }
  .myImage {
    width: 100%;
  }
}
@media (max-width: 626px) {
  .intro {
    height: 540px;
  }
}

@media (max-width: 527px) {
  .intro {
    height: 504px;
  }
  .myImage {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 490px) {
  .intro {
    height: 366px;
  }
  .myImage {
    width: 100%;
    height: 243px;
  }
  #aboutme p {
    line-height: 30px;
    font-size: 14px;
  }

  .title {
    font-size: 32px;
  }
}
@media (max-width: 1198px) {
  #nav ul li {
    font-size: 16px;
  }
  .contactMe ul li {
    font-size: 16px;
  }
}

@media (max-width: 977px) {
  #nav ul li {
    padding-right: 0px;
  }
  .contactMe ul li {
    padding-right: 0px;
    margin-top: -50px;
  }
}
@media (max-width: 292px) {
  #project1,
  #project2,
  #project3,
  #project4,
  #project5,
  #project6,
  #project7 {
    height: 112px;
  }
}
